In [1]:
import polars as pl

In [2]:
# POS = position

fielding = pl.read_csv("./data/lahman_1871-2023_csv/Fielding.csv")
fielding.head()

shape: (5, 18)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬──────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ WP   ┆ SB   ┆ CS   ┆ ZR   │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str  ┆ str  ┆ str  ┆ str  │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪══════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ null ┆ null ┆ null ┆ null │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ null ┆ null ┆ null ┆ null │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ null ┆ null ┆ null ┆ null │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ null ┆ null ┆ null ┆ null │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ null ┆ null ┆ null ┆ null │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴──────┴──────┘

In [24]:
fielding_clean = (fielding
                 .select(['playerID', 'yearID', 'lgID', 'POS'])
                 .filter(pl.col('yearID') >= 2013)
                 )
fielding_clean.head()

shape: (5, 4)
┌───────────┬────────┬──────┬─────┐
│ playerID  ┆ yearID ┆ lgID ┆ POS │
│ ---       ┆ ---    ┆ ---  ┆ --- │
│ str       ┆ i64    ┆ str  ┆ str │
╞═══════════╪════════╪══════╪═════╡
│ aardsda01 ┆ 2013   ┆ NL   ┆ P   │
│ aardsda01 ┆ 2015   ┆ NL   ┆ P   │
│ abadfe01  ┆ 2013   ┆ NL   ┆ P   │
│ abadfe01  ┆ 2014   ┆ AL   ┆ P   │
│ abadfe01  ┆ 2015   ┆ AL   ┆ P   │
└───────────┴────────┴──────┴─────┘

In [25]:
awards_players = pl.read_csv("./data/lahman_1871-2023_csv/AwardsPlayers.csv")
awards_players.head()

shape: (5, 6)
┌───────────┬───────────────────────────┬────────┬──────┬──────┬───────┐
│ playerID  ┆ awardID                   ┆ yearID ┆ lgID ┆ tie  ┆ notes │
│ ---       ┆ ---                       ┆ ---    ┆ ---  ┆ ---  ┆ ---   │
│ str       ┆ str                       ┆ i64    ┆ str  ┆ str  ┆ str   │
╞═══════════╪═══════════════════════════╪════════╪══════╪══════╪═══════╡
│ poseybu01 ┆ Lou Gehrig Memorial Award ┆ 2019   ┆ ML   ┆ null ┆ null  │
│ klubeco01 ┆ Lou Gehrig Memorial Award ┆ 2018   ┆ ML   ┆ null ┆ null  │
│ vottojo01 ┆ Lou Gehrig Memorial Award ┆ 2017   ┆ ML   ┆ null ┆ null  │
│ altuvjo01 ┆ Lou Gehrig Memorial Award ┆ 2016   ┆ ML   ┆ null ┆ null  │
│ grandcu01 ┆ Lou Gehrig Memorial Award ┆ 2015   ┆ ML   ┆ null ┆ null  │
└───────────┴───────────────────────────┴────────┴──────┴──────┴───────┘

In [26]:
# Checking the name of the award

awards_players['awardID'].unique().to_list()

['Hutch Award',
 'SIlver Slugger',
 'ALCS MVP',
 'Pitching Triple Crown',
 'Outstanding DH Award',
 'Triple Crown',
 'Hank Aaron Award',
 'Baseball Magazine All-Star',
 'Branch Rickey Award',
 'TSN Player of the Year',
 'TSN Pitcher of the Year',
 'Platinum Glove',
 'All-Star Game MVP',
 'TSN Reliever of the Year',
 'Lou Gehrig Memorial Award',
 'Rookie of the Year',
 'Comeback Player of the Year',
 'NLCS MVP',
 'World Series MVP',
 'TSN Guide MVP',
 'Most Valuable Player',
 'TSN Fireman of the Year',
 'Gold Glove',
 'TSN Major League Player of the Year',
 'Reliever of the Year Award',
 'TSN All-Star',
 'Babe Ruth Award',
 'Silver Slugger',
 'Cy Young Award',
 'Roberto Clemente Award']

In [27]:
awards_clean = (awards_players
                .select(['playerID', 'yearID', 'lgID', 'awardID', 'notes'])
                .filter(pl.col('yearID') >= 2013)
                .filter(pl.col('awardID') == 'Gold Glove')
         )
awards_clean.head()

shape: (5, 5)
┌───────────┬────────┬──────┬────────────┬───────┐
│ playerID  ┆ yearID ┆ lgID ┆ awardID    ┆ notes │
│ ---       ┆ ---    ┆ ---  ┆ ---        ┆ ---   │
│ str       ┆ i64    ┆ str  ┆ str        ┆ str   │
╞═══════════╪════════╪══════╪════════════╪═══════╡
│ kineris01 ┆ 2020   ┆ AL   ┆ Gold Glove ┆ 3B    │
│ crawfjp01 ┆ 2020   ┆ AL   ┆ Gold Glove ┆ SS    │
│ roberlu01 ┆ 2020   ┆ AL   ┆ Gold Glove ┆ LF    │
│ gordoal01 ┆ 2020   ┆ AL   ┆ Gold Glove ┆ CF    │
│ gallojo01 ┆ 2020   ┆ AL   ┆ Gold Glove ┆ RF    │
└───────────┴────────┴──────┴────────────┴───────┘

In [28]:
# Checking the most recent year in the dataset

fielding_clean['yearID'].unique().to_list()

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [29]:
# Using left join because we also want to keep players who did not receive the award

gold_glove = fielding_clean.join(awards_clean, 
                                 left_on = ['playerID', 'yearID', 'lgID', 'POS'],
                                 right_on = ['playerID', 'yearID', 'lgID', 'notes'],
                                 how = 'left'
                                ).with_columns(gold_glove = pl.when(pl.col('awardID') == 'Gold Glove')
                                                              .then(pl.lit('Yes'))
                                                              .otherwise(pl.lit('NO')),
                                               Training_Validation = pl.when(pl.col('yearID') == 2023)
                                                                       .then(pl.lit('Validation'))
                                                                       .otherwise(pl.lit('Training'))
                                              ).group_by(['playerID', 'yearID', 'lgID', 'POS']
                                                        )
gold_glove.head()

shape: (22_237, 7)
┌───────────┬────────┬──────┬─────┬─────────┬────────────┬─────────────────────┐
│ playerID  ┆ yearID ┆ lgID ┆ POS ┆ awardID ┆ gold_glove ┆ Training_Validation │
│ ---       ┆ ---    ┆ ---  ┆ --- ┆ ---     ┆ ---        ┆ ---                 │
│ str       ┆ i64    ┆ str  ┆ str ┆ str     ┆ str        ┆ str                 │
╞═══════════╪════════╪══════╪═════╪═════════╪════════════╪═════════════════════╡
│ solarya01 ┆ 2018   ┆ AL   ┆ 3B  ┆ null    ┆ NO         ┆ Training            │
│ stammcr01 ┆ 2015   ┆ NL   ┆ P   ┆ null    ┆ NO         ┆ Training            │
│ turneju01 ┆ 2013   ┆ NL   ┆ OF  ┆ null    ┆ NO         ┆ Training            │
│ walkene01 ┆ 2018   ┆ AL   ┆ 3B  ┆ null    ┆ NO         ┆ Training            │
│ adriaeh01 ┆ 2022   ┆ NL   ┆ SS  ┆ null    ┆ NO         ┆ Training            │
│ …         ┆ …      ┆ …    ┆ …   ┆ …       ┆ …          ┆ …                   │
│ paulsbe01 ┆ 2015   ┆ NL   ┆ OF  ┆ null    ┆ NO         ┆ Training            │
│ middlke01 ┆ 2021   ┆ AL   ┆ P   ┆ null    ┆ NO         ┆ Training            │
│ marquja01 ┆ 2013   ┆ NL   ┆ P   ┆ null    ┆ NO         ┆ Training            │
│ diazal02  ┆ 2021   ┆ AL   ┆ SS  ┆ null    ┆ NO         ┆ Training            │
│ merryju01 ┆ 2021   ┆ AL   ┆ P   ┆ null    ┆ NO         ┆ Training            │
└───────────┴────────┴──────┴─────┴─────────┴────────────┴─────────────────────┘

In [30]:
gold_glove.write_csv("./data/gold_glove.csv")

AttributeError: 'GroupBy' object has no attribute 'write_csv'

In [31]:
salaries = pl.read_csv("./data/lahman_1871-2023_csv/Salaries.csv")
salaries.head()

shape: (5, 5)
┌────────┬────────┬──────┬───────────┬────────┐
│ yearID ┆ teamID ┆ lgID ┆ playerID  ┆ salary │
│ ---    ┆ ---    ┆ ---  ┆ ---       ┆ ---    │
│ i64    ┆ str    ┆ str  ┆ str       ┆ i64    │
╞════════╪════════╪══════╪═══════════╪════════╡
│ 1985   ┆ ATL    ┆ NL   ┆ barkele01 ┆ 870000 │
│ 1985   ┆ ATL    ┆ NL   ┆ bedrost01 ┆ 550000 │
│ 1985   ┆ ATL    ┆ NL   ┆ benedbr01 ┆ 545000 │
│ 1985   ┆ ATL    ┆ NL   ┆ campri01  ┆ 633333 │
│ 1985   ┆ ATL    ┆ NL   ┆ ceronri01 ┆ 625000 │
└────────┴────────┴──────┴───────────┴────────┘

In [23]:
salaries_clean = (salaries
                  .filter(pl.col('yearID') >= 2013)
                 )
salaries_clean.head()

shape: (5, 5)
┌────────┬────────┬──────┬───────────┬──────────┐
│ yearID ┆ teamID ┆ lgID ┆ playerID  ┆ salary   │
│ ---    ┆ ---    ┆ ---  ┆ ---       ┆ ---      │
│ i64    ┆ str    ┆ str  ┆ str       ┆ i64      │
╞════════╪════════╪══════╪═══════════╪══════════╡
│ 2013   ┆ ARI    ┆ NL   ┆ bellhe01  ┆ 10000000 │
│ 2013   ┆ ARI    ┆ NL   ┆ bloomwi01 ┆ 1900000  │
│ 2013   ┆ ARI    ┆ NL   ┆ cahiltr01 ┆ 5700000  │
│ 2013   ┆ ARI    ┆ NL   ┆ campato01 ┆ 497500   │
│ 2013   ┆ ARI    ┆ NL   ┆ chaveer01 ┆ 3000000  │
└────────┴────────┴──────┴───────────┴──────────┘

In [32]:
batting = pl.read_csv("./data/lahman_1871-2023_csv/Batting.csv")
batting.head()

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [37]:
batting_clean = (batting
                .select(['playerID','yearID','teamID','lgID','stint','H','HR']))
batting_clean.head()

shape: (5, 7)
┌───────────┬────────┬────────┬──────┬───────┬─────┬─────┐
│ playerID  ┆ yearID ┆ teamID ┆ lgID ┆ stint ┆ H   ┆ HR  │
│ ---       ┆ ---    ┆ ---    ┆ ---  ┆ ---   ┆ --- ┆ --- │
│ str       ┆ i64    ┆ str    ┆ str  ┆ i64   ┆ i64 ┆ i64 │
╞═══════════╪════════╪════════╪══════╪═══════╪═════╪═════╡
│ aardsda01 ┆ 2004   ┆ SFN    ┆ NL   ┆ 1     ┆ 0   ┆ 0   │
│ aardsda01 ┆ 2006   ┆ CHN    ┆ NL   ┆ 1     ┆ 0   ┆ 0   │
│ aardsda01 ┆ 2007   ┆ CHA    ┆ AL   ┆ 1     ┆ 0   ┆ 0   │
│ aardsda01 ┆ 2008   ┆ BOS    ┆ AL   ┆ 1     ┆ 0   ┆ 0   │
│ aardsda01 ┆ 2009   ┆ SEA    ┆ AL   ┆ 1     ┆ 0   ┆ 0   │
└───────────┴────────┴────────┴──────┴───────┴─────┴─────┘

In [33]:
pitching = pl.read_csv("./data/lahman_1871-2023_csv/Pitching.csv")
pitching.head()

shape: (5, 30)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬─────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ R   ┆ SH  ┆ SF  ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪═════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 8   ┆ 0   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 25  ┆ 1   ┆ 3   ┆ 2    │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 24  ┆ 2   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 32  ┆ 3   ┆ 2   ┆ 4    │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 23  ┆ 2   ┆ 1   ┆ 2    │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴─────┴──────┘

In [39]:
pitching_clean = (pitching
                 .select(['playerID','yearID','teamID','lgID','stint','SHO','SO']))
pitching_clean.head()

shape: (5, 7)
┌───────────┬────────┬────────┬──────┬───────┬─────┬─────┐
│ playerID  ┆ yearID ┆ teamID ┆ lgID ┆ stint ┆ SHO ┆ SO  │
│ ---       ┆ ---    ┆ ---    ┆ ---  ┆ ---   ┆ --- ┆ --- │
│ str       ┆ i64    ┆ str    ┆ str  ┆ i64   ┆ i64 ┆ i64 │
╞═══════════╪════════╪════════╪══════╪═══════╪═════╪═════╡
│ aardsda01 ┆ 2004   ┆ SFN    ┆ NL   ┆ 1     ┆ 0   ┆ 5   │
│ aardsda01 ┆ 2006   ┆ CHN    ┆ NL   ┆ 1     ┆ 0   ┆ 49  │
│ aardsda01 ┆ 2007   ┆ CHA    ┆ AL   ┆ 1     ┆ 0   ┆ 36  │
│ aardsda01 ┆ 2008   ┆ BOS    ┆ AL   ┆ 1     ┆ 0   ┆ 49  │
│ aardsda01 ┆ 2009   ┆ SEA    ┆ AL   ┆ 1     ┆ 0   ┆ 80  │
└───────────┴────────┴────────┴──────┴───────┴─────┴─────┘

In [45]:
# Join 4 tables: salaries_clean, fielding_clean, batting_clean, pitching_clean
# Join on: playerID, yearID, lgID, 

salaries_clean.join(fielding_clean,
                    on = ['playerID', 'yearID', 'lgID'],
                    how = 'inner'
                   ).join(batting_clean, 
                         on = ['playerID', 'yearID', 'lgID'],
                         how = 'left'
                         ).join(pitching_clean,
                               on = ['playerID', 'yearID', 'lgID'],
                               how = 'left')

DuplicateError: unable to hstack, column with name "teamID_right" already exists